.navbar {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: -2.5777px 6.87386px 20.6216px rgba(0, 0, 0, 0.23);
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .navbar {
    gap: 20px;
  }
}
