:root {
  --primary-text-color: #555555;
  --secondary-text-color: #303030;
  --text-color-list: #9da4bd;
  --white-color: #fff;
  --accent-color: #ff6c00;
  --hero-text-color: gray;
  --background-color: aliceblue;
  --background-color-masters: rgba(157, 164, 190, 0.6);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  color: var(--primary-text-color);
  background-color: var(--background-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
ul {
  margin-left: 0;
  padding-left: 0;
}

li {
  list-style-type: none;
  margin: 0;
}

p {
  margin: 0;
}
